body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background: #1aff05;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}